@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Share Tech Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.scroll{
    background-color: #e0f3ff;
    width: 40vw;
    height: 40vh;
    overflow: scroll;
    border: 1px solid #d4d4d4;
}

a{
    color: #000;
}

a:hover{
    font-size: larger;
}

li{
    list-style: none;
}