body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color: yellow;
    padding: 40px;
}

section{
    display: inline-block;
    background-color: white;
    margin: 20px;
}

main{
    background-color: lightgray;
    padding: 20px;
}

section p{
    margin: 0;
    padding: 20px;
    font-size: small;
}